<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.manlier.srapp.dao.ThesaurusDAO">

    <sql id="THESAURUS_GROUP">thesaurus_group</sql>
    <sql id="THESAURUS_BELONG">thesaurus_belong</sql>
    <sql id="THESAURUS_SEQUENCE">thesaurus_seq</sql>

    <select id="getSynonymsByWord" resultType="SynonymsGroupStr">
        SELECT * FROM <include refid="THESAURUS_GROUP"/>
        WHERE groupId IN
        (SELECT groupId FROM <include refid="THESAURUS_BELONG"/> WHERE word = #{word})
    </select>

    <select id="getSynonymsByGroupId" resultType="SynonymsGroupStr">
        SELECT * FROM <include refid="THESAURUS_GROUP"/> WHERE groupId = #{groupId}
    </select>

    <select id="getGroupIdByWord" resultType="Integer">
        SELECT groupId FROM <include refid="THESAURUS_BELONG"/> WHERE word=#{word}
    </select>

    <select id="getPagedSynonymsGroups" resultType="SynonymsGroupStr">
        SELECT * FROM <include refid="THESAURUS_GROUP"/> LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="addBelong">
        UPSERT INTO <include refid="THESAURUS_BELONG"/>(word, groupId)
        VALUES (#{word}, #{groupId})
    </insert>

    <insert id="addSynonymsGroup" parameterType="SynonymsGroupStr">
        <selectKey keyProperty="synonymsGroup.groupId" resultType="Integer" order="BEFORE">
            SELECT NEXT VALUE FOR
            <include refid="THESAURUS_SEQUENCE"/> AS groupId
        </selectKey>
        UPSERT INTO <include refid="THESAURUS_GROUP"/> (groupId, synonyms)
        VALUES (#{synonymsGroup.groupId}, #{synonymsGroup.synonyms})
    </insert>

    <delete id="deleteBelong">
        DELETE FROM <include refid="THESAURUS_BELONG"/> WHERE word=#{word} AND groupId=#{groupId}
    </delete>

    <delete id="deleteSynonymsGroup">
        DELETE FROM <include refid="THESAURUS_GROUP"/> WHERE groupId = #{groupId}
    </delete>

    <delete id="deleteBelongGroup">
        DELETE FROM <include refid="THESAURUS_BELONG"/> WHERE groupId = #{groupId}
    </delete>

    <delete id="updateSynonymsGroup">
        UPSERT INTO <include refid="THESAURUS_GROUP"/> (groupId, synonyms)
        VALUES (#{groupId}, #{synonyms})
    </delete>

    <update id="truncateSynonymsGroupTable">
        DROP TABLE IF EXISTS <include refid="THESAURUS_GROUP"/>
    </update>

    <update id="createSynonymsGroupTable">
        CREATE TABLE <include refid="THESAURUS_GROUP"/> (
        groupId INTEGER PRIMARY KEY
        , synonyms VARCHAR
        ) SALT_BUCKETS=3
    </update>

    <update id="truncateSynonymsBelongTable">
        DROP TABLE IF EXISTS <include refid="THESAURUS_BELONG"/>
    </update>

    <update id="createSynonymsBelongTable">
        CREATE TABLE <include refid="THESAURUS_BELONG"/> (
          word VARCHAR NOT NULL
          , groupId INTEGER NOT NULL
           CONSTRAINT tb_pk PRIMARY KEY (word, groupId)
        ) SALT_BUCKETS=3
    </update>

</mapper>